.App {
  text-align: center;  
}

a {
  margin: 20px
}

.game-details-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
}

.gameplay-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
}